crawler/2023.zip
dados2023
2023.zip
SINARM_OCORRENCIAS_MUINICIPIOS_MENOS_100MIL_HABITANTES.csv
crawlerOcorrencias/SINARM_OCORRENCIAS_MUINICIPIOS_MENOS_100MIL_HABITANTES.csv
crawlerOcorrencias/ocorrencias.csv
crawlerOcorrencias/analises.R